#
# {{ ansible_managed }}
#


############ GENERAL PARAMETERS #################
PidFile={{ zabbix_proxy__pid_file }}
SocketDir={{ zabbix_proxy__socket_dir }}

ProxyMode={{ zabbix_proxy__mode|int }}

LogType={{ zabbix_proxy__log_type }}
LogFile={{ zabbix_proxy__log_file }}
LogFileSize={{ zabbix_proxy__log_size|int }}


############ NETWORK PARAMETERS #################
ListenPort={{ zabbix_proxy__listen_port|int }}
{% if zabbix_proxy__source_ip is defined %}
SourceIP={{ zabbix_proxy__source_ip }}
{% endif %}

{% if zabbix_proxy__server is defined %}
Server={{ zabbix_proxy__server }}
{% endif %}
ServerPort={{ zabbix_proxy__server_port|int }}

Hostname={{ zabbix_proxy__hostname }}
{% if zabbix_proxy__hostname is not defined %}
HostnameItem={{ zabbix_proxy__hostname_item }}
{% endif %}


############ DATABASE PARAMETERS #################
DBHost={{ zabbix_proxy__db_host }}
{% if zabbix_proxy__db_socket is defined %}
DBSocket={{ zabbix_proxy__db_socket }}
{% endif %}
{% if zabbix_proxy__db_port is defined %}
DBPort={{ zabbix_proxy__db_port|int }}
{% endif %}
DBName={{ zabbix_proxy__db_name }}
DBSchema={{ zabbix_proxy__db_schema }}
{% if zabbix_proxy__db_user is defined %}
DBUser={{ zabbix_proxy__db_user }}
{% endif %}
{% if zabbix_proxy__db_password is defined %}
DBPassword={{ zabbix_proxy__db_password }}
{% endif %}
