#
# {{ ansible_managed }}
#


############ GENERAL PARAMETERS #################
PidFile={{ zabbix_proxy__pid_file }}
SocketDir={{ zabbix_proxy__socket_dir }}

ProxyMode={{ zabbix_proxy__mode|int }}

LogType={{ zabbix_proxy__log_type }}
LogFile={{ zabbix_proxy__log_file }}
LogFileSize={{ zabbix_proxy__log_size|int }}


############ NETWORK PARAMETERS #################
ListenPort={{ zabbix_proxy__listen_port|int }}
ListenIP={{ zabbix_proxy__listen_ip }}
{% if zabbix_proxy__source_ip is defined %}
SourceIP={{ zabbix_proxy__source_ip }}
{% endif %}

{% if zabbix_proxy__server is defined %}
Server={{ zabbix_proxy__server }}
{% endif %}
ServerPort={{ zabbix_proxy__server_port|int }}

Hostname={{ zabbix_proxy__hostname }}
{% if zabbix_proxy__hostname is not defined %}
HostnameItem={{ zabbix_proxy__hostname_item }}
{% endif %}


############ DATABASE PARAMETERS #################
DBHost={{ zabbix_proxy__db_host }}
{% if zabbix_proxy__db_socket is defined %}
DBSocket={{ zabbix_proxy__db_socket }}
{% endif %}
{% if zabbix_proxy__db_port is defined %}
DBPort={{ zabbix_proxy__db_port|int }}
{% endif %}
DBName={{ zabbix_proxy__db_name }}
DBSchema={{ zabbix_proxy__db_schema }}
{% if zabbix_proxy__db_user is defined %}
DBUser={{ zabbix_proxy__db_user }}
{% endif %}
{% if zabbix_proxy__db_password is defined %}
DBPassword={{ zabbix_proxy__db_password }}
{% endif %}


############ PROXY PARAMETERS #################
ProxyLocalBuffer={{ zabbix_proxy__local_buffer|int }}
ProxyOfflineBuffer={{ zabbix_proxy__offline_buffer|int }}

HeartbeatFrequency={{ zabbix_proxy__heartbeat_frequency|int }}
ConfigFrequency={{ zabbix_proxy__config_frequency|int }}
DataSenderFrequency={{ zabbix_proxy__data_sender_frequency|int }}


############ POLLERS PARAMETERS #################
StartPollers={{ zabbix_proxy__start_pollers|int }}
StartIPMIPollers={{ zabbix_proxy__start_ipmi_pollers|int }}
StartPollersUnreachable={{ zabbix_proxy__start_pollers_unreachable|int }}
StartTrappers={{ zabbix_proxy__start_trappers|int }}
StartPingers={{ zabbix_proxy__start_pingers|int }}
StartDiscoverers={{ zabbix_proxy__start_discoverers|int }}
StartHTTPPollers={{ zabbix_proxy__start_http_pollers|int }}

StartJavaPollers={{ zabbix_proxy__start_java_pollers|int }}
{% if zabbix_proxy__start_java_pollers|int > 0 %}
JavaGateway={{ zabbix_proxy__java_gateway }}
JavaGatewayPort={{ zabbix_proxy__java_gateway_port|int }}
{% endif %}

StartSNMPTrapper={{ zabbix_proxy__start_snmp_trapper|int }}
{% if zabbix_proxy__start_snmp_trapper|int > 0 %}
SNMPTrapperFile={{ zabbix_proxy__snmp_trapper_file }}
{% endif %}
